---
import LineBar from './LineBar.astro'

const today = new Date()
---

<LineBar>
  <footer class='footer-center bg-base-300 text-base-content p-3'>
    <p class='copyright'>
      &copy; {today.getFullYear()}
      <a href='/'>sumaolin</a>. All rights reserved
    </p>
  </footer>
</LineBar>
