---
import HeaderLink from './HeaderLink.astro'
import { SITE_TITLE } from '../consts'
import LineBar from './LineBar.astro'
import ThemeToggle from './ThemeToggle.astro'
---

<header>
  <div class='hero'>
    <h2 class='hero-content'><a href='/'>{SITE_TITLE}</a></h2>
  </div>
  <LineBar>
    <nav class='flex justify-between content-center bg-base-200'>
      <ul class='menu menu-vertical lg:menu-horizontal'>
        <li><HeaderLink href='/'>Home</HeaderLink></li>
        <li><HeaderLink href='/blog'>Blog</HeaderLink></li>
        <li><HeaderLink href='/about'>About</HeaderLink></li>
      </ul>
      <div class='theme-wrap pt-3.5 pr-4'>
        <ThemeToggle />
      </div>
    </nav>
  </LineBar>
</header>
<style>
  .theme-wrap {
  }
</style>
